[submodule "libraries/digikey-kicad-library"]
	path = libraries/digikey-kicad-library
	url = git@github.com:digikey/digikey-kicad-library.git
[submodule "tools/xess_fp_wizard"]
	path = tools/xess_fp_wizard
	url = https://github.com/xesscorp/xess_fp_wizard
[submodule "OSHW_Logo"]
	path = OSHW_Logo
	url = https://github.com/OSHW/logo.git
